:root{
    --mainColor:#eaeaea;
    --inactiveTabColor: #DDE0E7;
    --inactiveTabColorHover: #c1c3ca;
    --inactiveText: rgb(136, 144, 155);
    --tabBorderColor: rgb(223, 238, 242);
    --activeTabColor: #fff;
    --secondaryColor: #fff;
    --borderColor:#c1c1c1;
    --mainText:black;
    --secondaryText:#4b5156;
}

body{
    background-color: #F5F5F5;
    padding: 0;
    margin: 0;
    transition: .3s;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea{
    color: var(--mainText);
    font-family: 'Ubuntu Mono', monospace;
}

a{
    text-decoration: none;
    color: #17a2b8;
}

ul{
    list-style: none;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}


.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 2em;
}

.window-wrapper{
    width: 1200px;
    padding: .5px;
    margin: 0 auto;
    background-color: var(--inactiveTabColor);
    border-radius: 5px;
    box-shadow: 5px 0px 7px 1px rgba(0, 0, 0, 0.33);
    
    /*Grid Display Settings*/
    display: grid;
    grid-template-columns: 1fr;/*Width of columns*/
    grid-template-rows: 50px 41px 425px; /*Height of rows*/
    grid-template-areas:
        'statusbar-wrapper'
        'navbar-wrapper'
        'page-wrapper';
}

.navbar-wrapper{
    font-family: 'Ubuntu Mono', monospace;
    grid-area:navbar-wrapper;
    background-color: var(--activeTabColor);
    border-bottom: 1px solid var(--tabBorderColor);
    display:flex;
}

.navicon{
    padding:10px;
    color: var(--inactiveTabColorHover);
}

.fa-arrow-left{
    padding-left: 15px;
}

#url-bar{
    width: 85%;
    margin: 7px 0px 5px 0px;
    border-radius: 10px;
    border: 1px solid var(--inactiveTabColor);
    padding-top: 5px;
    padding-left: 15px;
    color: var(--inactiveText);
    transition: .3s;
}

.statusbar-wrapper{
    border-radius: 5px 5px 0px 0px;
    grid-area: statusbar-wrapper;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
        'tabs-wrapper window-controls-wrapper';
    background-color: var(--inactiveTabColor);
    border-bottom: 1px solid var(--tabBorderColor);
}

.tabs-wrapper{
    grid-area: tabs-wrapper;
    display: flex;
    padding-left: 15px;
}
.tabs-toggle{
    font-family: 'Poppins', sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 20px 0px 7px;
    margin-top: 15px;
    margin-bottom: -2px;
    width:100px;
    margin-inline:5px;
    cursor: pointer;
    transition: .5s ease;
}

.tabs-toggle.activeTab{
    background-color: var(--activeTabColor);
    border-top: 1px solid var(--tabBorderColor);
    border-left: 1px solid var(--tabBorderColor);
    border-right: 1px solid var(--tabBorderColor);
    transition: .5s ease;
}
.tabs-toggle.activeTab:hover{
    background-color: white;
}

.tabs-toggle:hover{
    background-color: var(--inactiveTabColorHover);
    transition: .5s ease;
}

.window-controls-wrapper{
    display: flex;
    height: 100%;
    grid-area: window-controls-wrapper;
}

.window_control{
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    color: #67686A;
    width: 100%;
    height: 40%;
    transition: .5s ease;
}

.window_control:hover{
    background-color: rgb(178, 191, 195);
    transition: .2s ease;
}

#dot-exit{
    border-radius: 0 5px 0 0;
}

#dot-exit:hover{
    background-color: rgb(217, 35, 35);
    color:white;
    transition: .5s ease;
}

.page-wrapper{
    grid-area: page-wrapper;
    background-color: rgb(255, 255, 255);
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.page-wrapper.activePage{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

.page-wrapper.welcome{
    background-color: rgb(243, 252, 255);
}

#profile-pic-wrapper{
    height:300px;
    width:300px;
    margin-top: 50px;
    margin-left: 250px;
    border-radius: 400px;
    position: relative;
    object-fit: cover;
    cursor:pointer;
}

#profile-pic-overlay, #profile-pic{
    position: absolute;
    border-radius: inherit;
    height: inherit;
    width: inherit;
    transition: .5s ease;
    background-color: #008CBA;
}

#profile-pic-overlay h3{
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-top: 40%;
    text-align:center;
}

#profile-pic:hover{
    filter: none;
    opacity: 0.25;
    transition: .2s ease;
}

#bio-wrapper{
    width: 400px;
    margin: 70px 20px;
    border-left:1px solid var(--borderColor);
    padding-left: 20px;
    /*
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px;
    grid-template-areas:
        'bio-title'
        'bio-subtitle'
        'bio-desc';*/
}

#bio-title{
    font-weight:bolder;
}

#bio-subtitle{
    font-weight:bold;
}

#bio-desc{
    font-weight:normal;
    font-family: 'Ubuntu Mono', monospace;
    width: 400px;
    height: 150px;
    margin-top: 10px;
    line-height: 30px;
}

.bio-sections{
    margin: 5px 0;
}

@media screen and (max-width: 1200px){
    .window-wrapper{
        /*width: 95%;*/
    }
}

/*Responsive*/
@media(max-width: 1050px)
{
    body{
        background-color: rgb(255, 195, 188);
        /*Don't worry about this until you're ready to make the window responsive*/
    }
}