:root{
    --mainColorDay: #F5F5F7;
    --mainColorNight: #1e2223;
    --TitleDay: #1D1D1F;
    --subTitleDay: #6E6E73;
    --TitleNight: #E0DBD6;
    --subTitleNight: #A9A194;
    --textDay: black;
    --textNight: white;
    --inactiveTabColorDay: #DDE0E7;
    --inactiveTabColorDayHover: #9b9da5;
    --inactiveTabColorNight: #2a2e2f;
    --inactiveTabColorNightHover: #c1c3ca;
    --activeTabColorDay: white;
    --activeTabColorNight: #191b1c;
    --tabBorderColorDay:rgb(223, 238, 242);;
    --tabBorderColorNight: #234c56;
    --inactiveText: rgb(136, 144, 155);
    --secondaryColor: #fff;
    --borderColor:#c1c1c1;
    --mainText:black;
    --secondaryText:#4b5156;
}

body{
    background-color: rgb(134, 60, 147);
    background-image : 
    url("images/marita-kavelashvili-forest-unsplash.jpg");
    background-repeat: repeat;
    background-size:auto;
    background-attachment: fixed;
    background-position: center;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    overflow:hidden;
}

h1, h2, h3, h4, h5, h6, strong{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea{
    font-family: 'Ubuntu', monospace;
}

a{
    text-decoration: none;
    color: #17a2b8;
}

ul{
    list-style: none;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

.window-wrapper{
    min-width: 200px;
    width: 1300px;
    padding: .5px;
    margin: 30px 30px;
    height:90vh;
    border-radius: 5px;
    box-shadow: 5px 0px 7px 1px rgba(0, 0, 0, 0.33);
    opacity: .95;
    display: flex;
    flex-direction: column;
    transition: background-color ease 300ms, color ease 300ms;
}

.window-wrapper.day{
    background-color: var(--inactiveTabColorDay);
    color: var(--textDay);
}

.window-wrapper.night{
    background-color: var(--inactiveTabColorNight);
    color: var(--textNight);
}

.navbar-wrapper{
    font-family: 'Ubuntu Mono', monospace;
    display:flex;
    transition: all ease 300ms;
}

.navbar-wrapper.day{
    background-color: var(--activeTabColorDay);
    border-bottom: 1px solid var(--tabBorderColorDay);
}
.navbar-wrapper.night{
    background-color: var(--activeTabColorNight);
    border-bottom: 1px solid var(--tabBorderColorNight);
}

.navicon{
    padding:10px;
    color: var(--inactiveTabColorDayHover);
}

#theme-toggle {
    box-sizing: border-box;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
    margin: 7px 7px;
}

#theme-toggle.day{
    background-color: black;
}

#theme-toggle.night{
    background-color: #3d9cbc;
}


#theme-toggle #toggle-ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transition: transform 0.2s ease;
}

#theme-toggle #toggle-ball.day{
	transform: translateX(0);
}

#theme-toggle #toggle-ball.night{
	transform: translateX(20px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

.fa-arrow-left{
    padding-left: 15px;
}

#url-bar{
    width: 85%;
    margin: 7px 5px 5px 0px;
    border-radius: 10px;
    border: 1px solid var(--inactiveTabColorDay);
    padding-top: 5px;
    padding-left: 15px;
    color: var(--inactiveText);
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.statusbar-wrapper{
    border-radius: 5px 5px 0px 0px;
    display: flex;
    background-color: none;
    color: inherit;
    justify-content: space-between;
    transition: border-color ease 300ms;
    height:60px;
}
.statusbar-wrapper.day{
    border-bottom: 1px solid var(--tabBorderColorDay);
}
.statusbar-wrapper.night{
    border-bottom: 1px solid var(--tabBorderColorNight);
}

.tabs-wrapper{
    grid-area: tabs-wrapper;
    width:76%;
    display: flex;
    padding-left: 15px;
    justify-content: left;
}
.tabs-toggle{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 10px 4px 7px;
    margin-top: 15px;
    margin-bottom: -2px;
    width:100px;
    text-align: center;
    margin-inline:5px;
    cursor: pointer;
    font-size: 16px;
}

.tab-hamburger{
    display:none;
    margin:auto 10px auto 0;
    font-size: 29px;
}

.tab-hamburger.day{
    color: var(--inactiveTabColorNight);
}

.tab-hamburger.night{
    color:var(--inactiveTabColorDay)
}


.tabs-toggle.activeTab{
    transition: background-color ease 300ms, border-color ease 300ms;
}

.tabs-toggle:hover{
    background-color: var(--inactiveTabColorDayHover);
    transition: .5s ease;
}

.tabs-toggle.activeTab:hover{
    background-color: inherit;
}

.tabs-toggle.activeTab.day{
    background-color: var(--activeTabColorDay);
    border-top: 1px solid var(--tabBorderColorDay);
    border-left: 1px solid var(--tabBorderColorDay);
    border-right: 1px solid var(--tabBorderColorDay);
}
.tabs-toggle.activeTab.night{
    background-color: var(--activeTabColorNight);
    border-top: 1px solid var(--tabBorderColorNight);
    border-left: 1px solid var(--tabBorderColorNight);
    border-right: 1px solid var(--tabBorderColorNight);
}

.window-controls-wrapper{
    display: flex;
    width:150px;
    height: 100%;
    grid-area: 'window-controls-wrapper';
}

.window_control{
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    color: inherit;
    width: 50px;
    height: 40%;
}


.window_control:hover{
    background-color: rgb(178, 191, 195);
    transition: .4s ease;
}

#dot-exit{
    border-radius: 0 5px 0 0;
}

#dot-exit:hover{
    background-color: rgb(217, 35, 35);
    color:white;
}

.page-wrapper{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all ease 300ms;
    height:100%;
    display:none;
    overflow:none;
    
}

.page-wrapper.activePage{
    visibility: visible;
    opacity: 1;
    display:flex;
    overflow:auto;
}

.page-wrapper.welcome{
    flex-direction: row;
    align-items: center;
    
}
.page-wrapper.education{
    flex-direction: column;
}

.page-wrapper.day{
    background-color: var(--mainColorDay);
    
}
.page-wrapper.night{
    background-color: var(--mainColorNight);
}

#profile-pic-wrapper{
    width:80%;
    height:100%;
    cursor:pointer;
    display:flex;
    justify-content: right;
    align-items: center;
    margin-inline: 20px;
}

#profile-pic-overlay, #profile-pic{
    height: 20em;
    width: 20em;
    border-radius: 100%;
    transition: .5s ease;
    background-color: green;
    margin-left: 10px;
}

#profile-pic-overlay h3{
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-top: 40%;
    text-align:center;
}

#profile-pic:hover{
    filter: none;
    opacity: 0.35;
    transition: .2s ease;
}

#bio-wrapper{
    justify-content: center;
    border-left: 1px solid var(--borderColor);
    padding-left: 20px;
    padding-right: 50px;
    font-family: 'Roboto';
    font-size: 50px;
    display:flex;
    flex-direction: column;
    height:70%;
}

.page-headers{
    display:flex;
    flex-direction: row;
    height:80px;
    width:100%;
    align-items: center;
    justify-content: center;
    padding-top:10px;
}

#edu-ico{
    margin-top:0px;
    margin-right:12px;
    margin-bottom: 0;
    width:70px;
    height:70px;
}

hr{
    width:70%;
}


hr.night{
    border-color : var(--subTitleNight);
}

.course-wrapper{
    align-self: center;
    justify-self: center;
    width:80%;
    background-color: green;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.course{
    background-color: #17a2b8;
    border: 1px solid red;
    height:200px;
    width:100%;
    word-wrap: break-word;
}

.section-title{
    font-weight:bolder;
}

.section-subtitle{
    font-weight:bold;
}

.section-title.day{
    color:var(--TitleDay);
}

.section-subtitle.day{
    color:var(--subTitleDay);
}

.section-desc.day{
    color:var(--textDay); 
}

.section-title.night{
    color:var(--TitleNight);
}

.section-subtitle.night{
    color:var(--subTitleNight);
}

.section-desc.night{
    color:var(--textNight);
}


.section-desc{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    line-height: 32px;
}

.bio-sections, .edu-sections{
    margin: 5px 0;
}

@media screen and (max-width: 400px){
    .course-wrapper{
        grid-template-columns: repeat(auto-fit, 100%);
    }
    #edu-title{
        font-size:30px;
    }
    #edu-ico{
        width:50px;
        height:50px;
    }
}

/*Responsive*/
/*@media(max-width: 800px)*/
@media screen and (max-width: 787px)
{

    .tabs-toggle{
        display: none;
    }
    .tab-hamburger{
        display:block;
    }
    .tabs-wrapper{
        justify-content: left;
    }

    .page-wrapper.welcome{
        flex-direction: column;
    }

    #bio-wrapper{
        width:90%;
        padding: 0;
        border-left:none;
        border-top: 1px solid var(--borderColor);
        text-align: center;
        margin-bottom:20px;
        justify-content: flex-start;
    }
    #profile-pic-wrapper{
        margin:0;
        width:100%;
        height:auto;
    }
    #profile-pic{
        margin:auto;
        margin-top:20px;
        margin-bottom:20px;
        width:10em;
        height:10em;
    }
    
}